{% extends "E-Commerce/admin/base.jinja" %}
{% from "E-Commerce/admin/macros/general.jinja" import single_section_form with context %}

{% block body_class %}E-Commerce-details{% endblock %}
{% block content %}
    {{ single_section_form("manufacturer_form", form) }}
{% endblock %}
