include README.rst
include LICENSE
include VENDOR-LICENSES.md

include tox.ini

recursive-include E-Commerce \
    *.jinja *.txt *.js *.css *.json *.less *.map \
    *.ico *.png *.svg *.jpg \
    *.woff *.woff2 *.eot *.otf *.ttf *.po *.mo

recursive-include E-Commerce/default_importer *.xls *.xlsx *.csv

recursive-include E-Commerce_tests *.jinja

# No extra extensions to include from E-Commerce_workbench, but it will be
# included still, since it's a Python package.
# recursive-include E-Commerce_workbench ...

prune E-Commerce/*/bower_components
prune E-Commerce/*/*/bower_components
prune E-Commerce/*/*/*/bower_components
prune E-Commerce/*/*/*/*/bower_components
prune E-Commerce/*/*/*/*/node_modules
prune E-Commerce/*/*/*/node_modules
prune E-Commerce/*/*/node_modules
prune E-Commerce/*/node_modules
prune E-Commerce/**/.cache

recursive-include doc *.rst *.py *.LICENSE Makefile make.bat
