{% extends "E-Commerce/admin/base_picotable.jinja" %}
{% from "E-Commerce/simple_supplier/admin/macros.jinja" import render_scripts %}

{% block extra_js %}
    <script src="{{ E-Commerce_static('E-Commerce_admin/js/picotable.js') }}"></script>
    {{ render_scripts() }}
{% endblock %}
